@{
    ViewBag.Title = "About Me";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<div id="content">

    <h1>About Me</h1>

    <p class="photo">
        <img src="~/Content/rye_bread.jpg" ALIGN="left" />
    </p>
    <p>
        <span>Rye Bread - aka Ryan Smith - is a technology professional. He's an INFJ-T - it says so <a class="text" href="https://www.16personalities.com/profiles/8e0688538b4ce">here</a>, in case you're interested in that kind of thing. He'll take your anonymous feedback <a class="text" href="https://sayat.me/ryebread">here</a> (or non-anonymously via the Conact page). A sample of his projects & code is in the collapsible sections below.</span>
        <br />
        <br />
        <b>Contact Rye Bread for:</b>
        <ul class="round">
            <li>A critical mind to help in designing, planning, and developing (worthwhile & relevant) code projects</li>
            <li>A helpful hand to assist with building IKEA furniture</li>
            <li>An animal-loving heart for a pet that needs babysitting</li>
            <li>A creative touch to bring to touchdown dance choreography</li>
            <li>A voice to amplify a worthy message</li>
        </ul>
    </p>

    <img style="float: right" src="~/Content/family_beach_dr.jpg" />

    <p>
        Rye's professional energy is spent on projects that:
        <ul class="round">
            <li>Align with his beliefs</li>
            <li>Offer interesting challenges and opportunities for growth & mastery</li>
            <li>Are shared with a supportive team of like-minded people</li>
        </ul>
        Rye's technology interests currently include:
        <ul class="round">
            <li>Android</li>
            <li>ASP.NET MVC</li>
            <li>Business intelligence & data visualization</li>
            <li>Artificial intelligence & machine learning</li>
        </ul>
        He has worked at <a class="text" href="http://www.epic.com/">Epic</a>, a healthcare software company since 2010 in various roles where he has & continues to:
        <ul class="round">
            <li>Diagnose and solve technical issues</li>
            <li>Develop, maintain, and fix applications</li>
            <li>Manage relationships with clients</li>
            <li>Manage a team of technical service representatives</li>
            <li>Manage projects</li>
            <li>Do many other things accoridng to needs and his interests</li>
        </ul>
    </p>

    <p class="photo">
        <img src="~/Content/sophia.jpg" ALIGN="left" />
    </p>

    <p>
        Rye's beliefs include:
        <ul class="round">
            <li>He disagrees with factory farming practices, believes meat should be a "sometimes food", and prefers sustainably & ethically produced food products</li>
            <li>He believes in human rights, respect, equal opportunities, and equal pay for people of all nationalities, races, ethnicities, sexual orientations, gender identities</li>
            <li>He is in favor of sustainable energy, environmental preservation, and environmentally-friendly policies</li>
            <li>He supports democracy and free speech, especially in authoritarian settings where vulnerable voices are at risk of being suppressed</li>
            <li>He disagrees with dangrous dog bans</li>

        </ul>
    </p>

    <p>
        Some of Rye's likes and interests:
        <img style="float: right; padding-top: 64px;" src="~/Content/aerial_rye.jpg" />
        <ul class="round">
            <li>He enjoys playing outside & is most fond of: ultimate frisbee, volleyball, kickball, and hiking</li>
            <li>He also enjoys playing inside, particularly: pool, go, ping pong, board games, tabletop games, video games, and card games of all kinds</li>
            <li>He is a big fan of house & hip hop music & festivals - some of his favorite artists are: TheFatRat, Dillon Francis, Above & Beyond</li>
            <li>He practices yoga, calisthenics, and smashing of various dance floors</li>
            <li>He is an avid follower of sports - his favorite league to follow is the NFL where he supports the Pittsburgh Steelers</li>
            <li>He enjoys travel - see the map below for all the places he's been.</li>
            <li>Some of his favorite films are: Wall-E, 300, Legend of the Guardians: The Owls of Ga'Hoole</li>
            <li>Some of his favorite TV shows are: Spartacus, Brooklyn Nine-Nine, Game of Thrones</li>
            <li>Some of his favorite fiction books are: The Hitchhiker's Guide to the Galaxy, Stranger in a Strange Land, Dune</li>
            <li>Some of his favorite nonfiction books are: How to Develop a Super-Power Memory, How to Talk to Anyone, The Design of Everyday Things</li>
        </ul>
    </p>

    <p>
        Some more Rye facts:
        <ul class="round">
            <li>He has a cat named Sophia (aka "Sophie")</li>
            <li>He spent a year volunteering to help first generation & minority public school students prepare for and gain access to colleges and universities</li>
            <li>His favorite food is sushi. His least favorite food is cheese.</li>
            <li>He used to run a lot (cross-country and track in high school and college) and has completed a marathon</li>
            <li>He got lost in the woods around Yosemite (spoiler alert - he made it out)</li>
            <li>He's lived in in several places due to growing up in a state department family - specifically & in order: Virginia, Japan, Turkey, Jordan, Virginia (again), Japan (again), China (briefly), Minnesota, Illinois, Wisconsin, and the UK.</li>
        </ul>
    </p>
    <p class="photo">
        <img src="~/Content/ryan_smith.jpg" ALIGN="left" />
        <ul class="round">
            <li>Due to a judo injury in high school he is able to hyperextend his left arm</li>
            <li>He has varying degrees of linguistic proficiency (sorted in decreasing order) in English, Japanese, Spanish, Chinese, and Arabic</li>
            <li>He's half Lebanese on his mother's side - most of his family is divided between the eastern US and Lebanon</li>
            <li>He graduated from Carleton College in 2009 with a double major in Mathematics and Philosophy, a minor in Chinese language, and another minor in Cognitive Science, all while being on the cross country and track & field teams for three out of four years and studying abroad.</li>
        </ul>
    </p>





    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Wb4rkVQl3uUEmQ2MXKFDP3UQYxnQ1eab" width="613" height="480"></iframe>

    <div>
        <br />
        <header>
            <h3><strong>Career</strong></h3>
        </header>
        <p>
            <div>
            </div>

            <button class="collapsible">EpicCare Inpatient Application Integrity Checks</button>
            <div class="content">
                <ul>
                    <li>Rewrote and expanded code to check the integrity of data structures for EpicCare Inpatient data in customer Cache environments.</li>
                    <li>Context: this code is run any time a server environment hosting the application experiences an unplanned downtime. Potential problems with the integrity of data structures necessary for the Inpatient application to function correctly are classified as errors in a report.</li>
                    <li>Previously: The integrity checks previously did not detect several possible problems, and returned several false positives. The integrity check utility previously did not display any information regarding what to do in order to address the errors being returned.</li>
                    <li>After my updates, known error types are correctly captured and displayed, along with actionable steps to address each. Several usability and coding style enhancements were added.</li>
                </ul>
            </div>

            <button class="collapsible">Extension Search Report Template</button>
            <div class="content">
                <ul>
                    <li>Context:</li>
                    <ul style="padding-left:20px">
                        <li>extensions (fka programming points) are records which configure the appearance and behavior characteristics of an instance of the application.</li>
                        <li>They are used in to a wide variety of configuration contexts, plugging in to different kinds of records and acting as parameterized entry points into different locations in code.</li>
                    </ul>
                    <li>Created an infrastructure for creating and running reports over extension records.</li>
                    <li>Written in Caché, The reporting tool searches for extensions based on configurable criteria and displays information about those extensions, including potential duplicates and all records in which each extension is being used.</li>
                </ul>
            </div>

            <button class="collapsible">Profile Search Report Template</button>
            <div class="content">
                <ul class="list-group">
                    <li>Context:</li>
                    <ul style="padding-left:20px">
                        <li>Profiles records house thousands of settings that impact the appearance and behavior of several applications.</li>
                        <li>Profiles can be applied at multiple levels of granularity, from the level of an individual user, to the level of the entire application instance.</li>
                        <li>Logic is applied on each user's login to take settings from each level and cascase them into a single induced profile with settings from the various levels.</li>
                    </ul>
                    <li>Created an infrastructure for creating and reporting on profile record build, assignment, and induced settings.</li>
                    <li>Written in Caché, the reporting tool created allowed users to search for and see profiles by several criteria, view data about their usage and application, and debug the source of settings in induced profiles.</li>
                </ul>
            </div>

            <button class="collapsible">Cogito Tune Up</button>
            <div class="content">
                <ul class="list-group">
                    <li>Led a team of ten to coordinate the creation of various parts of the project in advance of a deadline, as well as contributing his own development.</li>
                    <li>The Cogito Tune Up is a Windows Forms app and accompanying Caché database script.</li>
                    <ul style="padding-left:20px">
                        <li>The script pulls application configuration and usage data from a customer's environment</li>
                        <li>The Windows Forms app loads the data into a central database and generates an Excel-based scorecard with dozens of statistics and utilization metrics.</li>
                        <li>These scorecards are used to highlight areas for improvement, understand utilziation of functionality, and draw attention to unseen problems.</li>
                    </ul>
                </ul>
            </div>

            <button class="collapsible">Inpatient Readmission Registry</button>
            <div id="collapse6" class="content">
                <ul>
                    <li>Context:</li>
                    <ul style="padding-left:20px">
                        <li>A registry in this context is a population of records and collection of features about each.</li>
                        <li>The population consisted of readmissions, and the features were those selected to be of potential relevance for understanding and preventing readmissions.</li>
                    </ul>
                    <li>Coordinated design and development (and contributed both) to the creation of the registry.</li>
                    <li>Logic for inclusion of patient readmissions and for the dozens of individual features was developed in Caché.</li>
                </ul>
            </div>

            <button class="collapsible">European Customer Dashboard</button>
            <div id="collapse6" class="content">
                <ul>
                    <li>A Windows Forms application written to query and aggregate data from several data sources and display metrics and status indicators on customer organizations in Europe for leadership to track and review.</li>
                </ul>
            </div>

            <button class="collapsible">Betelgeuse</button>
            <div class="content">
                <ul class="list-group">
                    <li>Was the lead developer for an internal Q&A forum similar to Stack Overflow (called "Betelgeuse") using C#, ASP.NET MVC.</li>
                    <li>Migrated the app's data from an old Python-based OSQA platform to the new ASP.NET MVC platform.</li>
                    <li>Implemented several fixes and improvements, including points-based security, "my questions / answers" pages, assignment & ownership capabilities, overhauling of the post ranking algorithm, and data model changes.</li>
                </ul>
            </div>

            <br />
            <header>
                <h3><strong>Coursework</strong></h3>
            </header>
            <br />

            <button class="collapsible">Introduction to Programming Languages and Compilers (UW CS536)</button>
            <div class="content">
                <ul class="list-group">
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Identifier Cross-Reference Analysis:</span>
                        <span>A "warm-up" exercise for CS 536. Locates each variable declaration and links the declared variable with all its uses. Outputs each variable, its type, and how many times it was used on each line.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Identifier-Cross-Reference-Analysis">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">CSX Scanner:</span>
                        <span>A Jlex scanner specification and associated induced CSX scanner.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/CSX-Scanner">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">CSX Parser:</span>
                        <span>A CUP parser specification and associated induced CSX parser.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/CSX-Parser">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">CSX Type Checker:</span>
                        <span>Functions and classes that implement a type checker for CSX programs.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/CSX-Type-Checker">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">CSX Code Generator:</span>
                        <span>Traverses the abstract syntax tree for a CSX program and generates JVM assembler code, to be assembled using Jasmin.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/CSX-Code-Generator">Code</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button class="collapsible">Introduction to Artificial Intelligence (UW CS540)</button>
            <div class="content">
                <ul class="list-group">
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Implementation of ID3:</span>
                        <span>An implementation of the ID3 decision tree learning algorithm.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Implementation-of-ID3">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">ID3 with "bagging":</span>
                        <span>An implementation of the ID3 decision tree learning algorithm that uses an ensemble method (known as "bagging") with multiple decision trees.</span>
                        <ul>
                            <li><a class="text" href="https://github.com/TheRyanKing87/ID3-with-bagging">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Nannon players based on:</span>
                        <ul>
                            <li>Full joint probability tables (size 6 board only) - wins 64.47% of games against an opponent playing random moves</li>
                            <li>Naïve Bayes Nets (supports board sizes 6, 8, 10, 12) - wins 69.98% of games against an opponent playing random moves</li>
                            <li>Bayes Nets (supports board sizes 6, 8, 10, 12) - wins 73.62% of games against an opponent playing random moves</li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Nannon-players">Code</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button class="collapsible">Introduction to Operating Systems (UW CS537)</button>
            <div class="content">
                <ul class="list-group">
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Text sorting program:</span>
                        <span>A text sorting program.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p1a.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Text-sorting-program">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">xv6 system call:</span>
                        <span>A new system call for xv6 called getprocs(), which returns the number of processes that exist at the time of the call.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p1b.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/xv6-system-call">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Command line interpreter:</span>
                        <span>A command line interpreter (shell) supporting the "exit", "cd", "pwd", and "path" commands.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p2a.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Command-line-interpreter">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Priority scheduler:</span>
                        <span>A priority scheduler for xv6.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p2b.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Priority-scheduler">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Memory allocator:</span>
                        <span>An implementation of a memory allocator (malloc() and free()) for user-level processes.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p3a.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Memory-allocator">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Scalable web crawler:</span>
                        <span>A multithreaded scalable web crawler.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p4a-crawler.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Scalable-web-crawler">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Kernel threads:</span>
                        <span>An implementation of kernel threads in xv6 and system calls to create and merge them.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p4b.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Kernel-threads">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">File system checker:</span>
                        <span>A file system checker which takes a file system image as input and presents a report analyzing its consistency.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p5a.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/File-system-checker">Code</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item" id="bootstrap-overrides-list">
                        <span id="bootstrap-overrides-label">Small file optimization:</span>
                        <span>A performance optimization for small files (less than or equal to 52 bytes) in xv6 where data is written directly to small files' inodes rather than to data blocks.</span>
                        <ul>
                            <li><a class="text" href="http://pages.cs.wisc.edu/~remzi/Classes/537/Spring2016/Projects/p5b.html">Project specification</a></li>
                            <li><a class="text" href="https://github.com/TheRyanKing87/Small-file-optimization">Code</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <br />

            <br />
            <header>
                <h3><strong>Hobby / Blog Posts / Other</strong></h3>
            </header>

            <button class="collapsible">Scorecard Windows Forms App</button>
            <div class="content">
                <ul>
                    <li>Sample app for a blog post outlining how one might use a Windows Forms app with OleDbConnection and ExcelInterop to read data from a data source and & then use the data to generate an Excel-based scorecard.</li>
                    <li>Relies on a template Excel workbook with forumlas and formatting.</li>
                    <li><a href="https://github.com/TheRyanKing87/Scorecard">On GitHub</a></li>
                </ul>
            </div>

            <button class="collapsible">Rye Blog</button>
            <div class="content">
                <ul>
                    <li>This blog! An ASP.NET MVC blog with NHibernate.</li>
                    <li>Most of the code is not Rye's - it's from an excellent blog post by Pride Parrot <a href="http://prideparrot.com/blog/archive/2012/12/how_to_create_a_simple_blog_part1">here</a> with some modifications & additions by Rye.</li>
                </ul>
            </div>

            <button class="collapsible">Contact Import</button>
            <div class="content">
                <ul>
                    <li>Sample app for a blog post demonstrating how to import and store contacts from an Android device onto your own app using Room & LiveData.</li>
                    <li><a href="https://github.com/TheRyanKing87/ImportContacts">On GitHub</a></li>
                </ul>
            </div>

            <button class="collapsible">Scheduled Recurring Notifications</button>
            <div class="content">
                <ul>
                    <li>Sample app for a blog post demonstrating how to create recurring notifications on a schedule input by users.</li>
                    <li><a href="https://github.com/TheRyanKing87/ScheduleNotifications">On GitHub</a></li>
                </ul>
            </div>

            <button class="collapsible">Owl</button>
            <div class="content">
                <ul>
                    <li>An android app - Owl helps you keep in touch with the people in your life.</li>
                    <li>It does this by:</li>
                    <ul style="padding-left:20px">
                        <li>Letting you create or import contacts.</li>
                        <li>Store info about their contact details, prefered apps for communication, and desired contact frequency.</li>
                        <li>Producing a notification at the desired frequency which (1) provides a menu of pre-packaged messages to choose from and (2) launches the preferred app of choice with the chosen message as a draft message to your contact.</li>
                        <li>The list of pre-packaged messages can be extended by users with custom messages, and some additional administrative functions are avaiable.</li>
                    </ul>
                    <li><a href="https://github.com/TheRyanKing87/Owl">On GitHub</a></li>
            </div>

        </p>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
